[submodule "src/plugins/shop"]
	path = src/plugins/shop
	url = https://github.com/nexibase/plugin-shop.git
[submodule "src/plugins/faq-accordion"]
	path = src/plugins/faq-accordion
	url = https://github.com/nexibase/plugin-faq-accordion.git
